@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

// Variables
$font-stack: "Quicksand", sans-serif;

.layout{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: minmax(200px,auto);
    padding: 5em;

    .box{
        border-radius: 1.25rem;
        height: fit-content;
    }

    .box1{
        grid-column: span 2;
        grid-row: span 2;
        
        .aboutme{

            .font-change{
                font-family: $font-stack;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
            }

            .name{
                color: #2E3192;
                background-image: -webkit-linear-gradient(0deg, #3338b8 20%, #25c1fa 68%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                border-right: .019em solid #000000; /* The typwriter cursor */
                white-space: nowrap; /* Keeps the content on a single line */
                letter-spacing: .4rem;
                animation: 
                    typing 3s steps(40, end),
                    blink-caret .75s step-end infinite;
                transition: all .45s ease-in-out;
            }

            @keyframes typing {
                from { width: 0; }
                to { width: 75%; }
            }

            @keyframes blink-caret {
                from, to { border-color: transparent }
                50% { border-color: #000000; }
            }
            .name:hover{
                font-size: 5.2em;
            }
            .background-color{
                background-image: -webkit-linear-gradient(0deg, #3338b8 20%, #25c1fa 68%);
            }
        }
    }
    .box2{
        padding: 0;
        grid-column: span 2;
    }
    .box3{
        grid-column: span 1;
    }
    .box4{
        grid-column: span 2;
    }
}

@media (max-width: 768px) {
        .layout {
            display: block;
            padding: 2em;
            
            .box{
                margin: 1em 0;
            }
            .box1{
                .name{
                    font-size: 2.5em;
                    animation: 
                    typing 3s steps(40, end),
                    blink-caret .75s step-end infinite;
                    transition: all .45s ease-in-out;
                    letter-spacing: normal;
                }
                @keyframes typing {
                    from { width: 0; }
                    to { width: 100%; }
                }
                @keyframes blink-caret {
                    from, to { border-color: transparent }
                    50% { border-color: #000000; }
                }
                .name:hover{
                    font-size: 3.3em;
                }
            }
        }
    }
